.side-bar
  .side-bar__header
    .side-bar__header__name　ito
    .side-bar__header__edit
      = link_to "#" do
        %i.fa.fa-edit
    .side-bar__header__cog
      = link_to "#"  do
        %i.fa.fa-cog
  .side-bar__group
