* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  display: flex;
}
.side-bar {
  width: 300px;
  height: 100vh;
  &__header {
    height: 100px;
    background-color: #243141;
    align-items: center;
    display: flex;
    &__name {
      color: white;
      font-size: 16px;
      margin: 0 15px;
    }
    &__edit a {
      color: white;
      margin-left: 150px;

    }
    &__cog a {
      color: white;
      margin-right: 20px;
      margin-left: 10px;
    }
  }

  &__group {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    &__name {
      margin: 0 30px 5px 30px;
      color: white;
      padding-top: 20px;
      font-size: 15px;
      &__group a {
        text-decoration: none;
        color: white;
      }
    }
    &__message {
      margin: 0 30px 40px 30px;
      color: white;
      font-size: 11px;
    }
  }
}





.chat-main {
  height: 100vh;
  width: calc(100% - 300px);
  background-color: white;
  justify-content: space-between;
  &__top {
  height: 100px;
  background-color: white;
  border-bottom: #eeeeee;
  margin: 0 40px;
  position: relative;

    &__group {
      font-size: 20px;
      position: absolute;
      top: 35px;
    }
    &__member {
      font-size: 12px;
      position: absolute;
      bottom: 0;
      color: #999999;
    }
    &__edit a{
      float: right;
      position: absolute;
      top: 40px;
      right: 0;
      color: #38aef0;
      border: 1px solid;
      padding: 5px 20px;
      text-decoration: none;
    }
  }
  &__content {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px 46px 40px;
    overflow: scroll;
    .upper-message {
      position: relative;
      height: 80px;
      width: 100vh;
      .upper-message__user__name {
        font-size: 16px;
      }
      .upper-message__date {
        font-size: 12px;
        color: #999999;
        margin-bottom: 12px;
        position: absolute;
        top: 5px;
        left: 30px;
      }
      .lower-message {
        font-size: 14px;
        color: #434a54;
        margin-top: 10px;
      }
    }
  }
  &__footer {
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    position: relative;

    .chat-main__footer__input {
      position: absolute;
      height: 50px;
      width: calc(100% - 100px);
      top: 20px;
      &__image i {
        font-size: 30px;
        position: absolute;
        right: 140px;
        top: 30px;          
      }
    }     
    &__submit {
      height: 50px;
      width: 100px;
      background-color: #38aef0;
      color: white;
      border-radius: 5px;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}
.input-box__input__image__file {
  display: none;
}